.surname {
    width: 20%;
}

img {
    width: 40%;
    height: auto;
}

.info-container {
    vertical-align: top;
    display: inline-block;
    width: 40%;
}

.surnameValue,
.surnameMapUrlValue {
    vertical-align: top;
}

.surnameMapUrlValue {
    word-wrap: break-word;
    word-break: break-all;
}
