header h2 {
    display: inline-block;
    width: 80%;
}

@media (max-width: 1024px) {
    header h2 {
        width: 100%;
        font-size: 16px;
    }
    header span {
        display: inline-block;
        width: 100%;
    }
}

.surname {
    width: 20%;
}

img {
    min-width: 40%;
    width: 40%;
    height: auto;
}

.info-container {
    vertical-align: top;
    display: inline-block;
    width: 40%;
}

.surnameValue,
.surnameMapUrlValue {
    vertical-align: top;
}

.surnameMapUrlValue {
    word-wrap: break-word;
    word-break: break-all;
}
