/*due to Bulma reset code*/
body {
    padding: 10px;
}
/*due to Bulma reset code*/

header h3 {
    display: inline-block;
    width: 80%;
}

@media (max-width: 1024px) {
    header h3 {
        width: 100%;
    }
    header span {
        display: inline-block;
        width: 100%;
    }
}

.surname {
    width: 15%;
}

img {
    min-width: 40%;
    width: 40%;
    height: auto;
}

.info-container {
    vertical-align: top;
    display: inline-block;
    width: 40%;
}

.surnameValue,
.surnameMapUrlValue {
    vertical-align: top;
}

.surnameMapUrlValue {
    word-wrap: break-word;
    word-break: break-all;
}

iframe {
    width: 100%;
    height: 500px;
    border: 3px solid green;
}